# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/GrepConsole.xml
.idea/compiler.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/junitgenerator-prj-settings.xml
.idea/misc.xml
.idea/sqldialects.xml
.idea/uiDesigner.xml
.idea/vcs.xml
catalina.base_IS_UNDEFINED/
o2o.iml
pom.xml
src/
target/generated-sources/
target/generated-test-sources/
/src/
